*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #f8f8ff;
  background-color:rgb(28, 79, 106);
}

#weatherContent {
  display: none;
}

.navbar {
  height: 150px!important;
  text-align: center;
}

#searchResults {
  height: 100vh;
}

#fiveDay .card {
  border: 1px solid white!important;
}

#searchHistory li {
  color: #0c0c17!important;
  background-color:rgb(28, 79, 106);
}

p {
  color: #0c0c17;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5 {
  color: #0c0c17;
}
