*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #7a7ac2;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

#weatherContent {
  display: none;
}

.navbar {
  height: 150px!important;
}



#searchResults {
  height: 100vh;
}

#fiveDay .card {
  border: 1px solid white!important;
}

#searchHistory li {
  background-color: #97A6A4;
  color: #7a7ac2!important;
}

p {
  color: #D9B779;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5 {
  color: #7a7ac2;
}
